.logo{
    margin-left: 1em;
    font-size: xx-large;
    font-family: "Roboto", sans-serif;
}

nav{
    background: #2196F3;
    margin-bottom: 1em;
}

.books-container{
    display: flex;
    flex-wrap: wrap;
}

.book-tile{
    padding: 1em;
    width:12em;
}

.book-author{
    font-size: x-small;
    color: grey;
}

.book-image{
    width: 10em;
    height: 11.5em;
    overflow: hidden;
}

.book-title{
    font-weight: bold;
    font-size: smaller;
}

.btn-floating{
    top:-2em;
    float:right;
    background: #2196F3;
}

.add-button{
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.search-wrapper{
    margin: 1em 2em;
    overflow: hidden;
    height: 3em;
}

#search{
    margin:0px;
    padding: 0em 3em;
}

#back-icon{
    position: relative;
    top:-35px;
    margin-left: 10px;
}

#back-icon:hover{
    cursor: pointer;
}

#search-icon{
    float:right;
    position: relative;
    top:-35px;
    margin-right: 10px;
}